openapi: 3.1.0
info:
  title: Google Chat customEmojis Spaces:setup API
  description: The Google Chat API enables building Chat apps that integrate with Google Chat. It provides RESTful access to manage spaces, memberships, messages, reactions, media, and custom emojis.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/workspace/chat/api/guides
servers:
- url: https://chat.googleapis.com
tags:
- name: Spaces:setup
paths:
  /v1/spaces:setup:
    post:
      operationId: setupSpace
      summary: Google Chat Setup space
      description: Creates a space and adds specified users to it.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                space:
                  $ref: '#/components/schemas/Space'
                memberships:
                  type: array
                  items:
                    $ref: '#/components/schemas/Membership'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
      tags:
      - Spaces:setup
components:
  schemas:
    Space:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - TYPE_UNSPECIFIED
          - ROOM
          - DM
          - GROUP_CHAT
        singleUserBotDm:
          type: boolean
        displayName:
          type: string
        spaceType:
          type: string
        spaceThreadingState:
          type: string
    Membership:
      type: object
      properties:
        name:
          type: string
        state:
          type: string
          enum:
          - MEMBERSHIP_STATE_UNSPECIFIED
          - JOINED
          - INVITED
          - NOT_A_MEMBER
        role:
          type: string
          enum:
          - MEMBERSHIP_ROLE_UNSPECIFIED
          - ROLE_MEMBER
          - ROLE_MANAGER
        member:
          type: object
          properties:
            name:
              type: string
            type:
              type: string
