openapi: 3.1.0
info:
  title: Google Chat customEmojis Reactions API
  description: The Google Chat API enables building Chat apps that integrate with Google Chat. It provides RESTful access to manage spaces, memberships, messages, reactions, media, and custom emojis.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/workspace/chat/api/guides
servers:
- url: https://chat.googleapis.com
tags:
- name: Reactions
paths:
  /v1/{parent}/reactions:
    get:
      operationId: listReactions
      summary: Google Chat List reactions
      description: Lists reactions to a message.
      parameters:
      - name: parent
        in: path
        required: true
        description: 'Format: spaces/{space}/messages/{message}'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReactionsResponse'
      tags:
      - Reactions
    post:
      operationId: createReaction
      summary: Google Chat Create reaction
      description: Creates a reaction on a message.
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reaction'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reaction'
      tags:
      - Reactions
components:
  schemas:
    Reaction:
      type: object
      properties:
        name:
          type: string
        user:
          type: object
          properties:
            name:
              type: string
            type:
              type: string
        emoji:
          type: object
          properties:
            unicode:
              type: string
            customEmoji:
              type: object
              properties:
                uid:
                  type: string
    ListReactionsResponse:
      type: object
      properties:
        reactions:
          type: array
          items:
            $ref: '#/components/schemas/Reaction'
        nextPageToken:
          type: string
