openapi: 3.1.0
info:
  title: Google Chat customEmojis Google Chat API API
  description: The Google Chat API enables building Chat apps that integrate with Google Chat. It provides RESTful access to manage spaces, memberships, messages, reactions, media, and custom emojis.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/workspace/chat/api/guides
servers:
- url: https://chat.googleapis.com
tags:
- name: Google Chat API
paths:
  /v1/{name}:
    get:
      operationId: getSpace
      summary: Google Chat Get space
      description: Returns details about a space.
      parameters:
      - name: name
        in: path
        required: true
        description: 'Format: spaces/{space}'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
      tags:
      - Google Chat API
    patch:
      operationId: updateSpace
      summary: Google Chat Update space
      description: Updates a space.
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Space'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
      tags:
      - Google Chat API
    delete:
      operationId: deleteSpace
      summary: Google Chat Delete space
      description: Deletes a named space.
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      tags:
      - Google Chat API
components:
  schemas:
    Space:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - TYPE_UNSPECIFIED
          - ROOM
          - DM
          - GROUP_CHAT
        singleUserBotDm:
          type: boolean
        displayName:
          type: string
        spaceType:
          type: string
        spaceThreadingState:
          type: string
