openapi: 3.1.0
info:
  title: Google Chat customEmojis Spaces API
  description: The Google Chat API enables building Chat apps that integrate with Google Chat. It provides RESTful access to manage spaces, memberships, messages, reactions, media, and custom emojis.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/workspace/chat/api/guides
servers:
- url: https://chat.googleapis.com
tags:
- name: Spaces
paths:
  /v1/spaces:
    get:
      operationId: listSpaces
      summary: Google Chat List spaces
      description: Lists spaces the caller is a member of.
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSpacesResponse'
      tags:
      - Spaces
    post:
      operationId: createSpace
      summary: Google Chat Create space
      description: Creates a named space.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Space'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
      tags:
      - Spaces
components:
  schemas:
    ListSpacesResponse:
      type: object
      properties:
        spaces:
          type: array
          items:
            $ref: '#/components/schemas/Space'
        nextPageToken:
          type: string
    Space:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - TYPE_UNSPECIFIED
          - ROOM
          - DM
          - GROUP_CHAT
        singleUserBotDm:
          type: boolean
        displayName:
          type: string
        spaceType:
          type: string
        spaceThreadingState:
          type: string
